{% extends 'base.html.twig' %}

{% block title %}Edit mailing item - Mail.VeronikaLove.com{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-lg-6">
                <h2>Edit mailing item</h2>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}