{% extends 'base.html.twig' %}

{% block title %}Mailing{% endblock %}

{% block body %}
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5">   
            <p class="col-lg-8 mx-auto lead"><a href="{{ site_url }}">{{ site_name }}</a></p>
            <h1 class="text-body-emphasis">{{ site_name }}</h1>
        </div>
    </div>
{% endblock %}